@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(229 231 235);
}

.bg-sign-in {
    background-image: url('./assets/images/SignInCover.jpeg');
    background-size: cover;
    background-position: center;
    margin: 20px;
    border-radius: 20px;
    height: 50vh;
}

.bg-sign-up {
    background-image: url('./assets/images/SignUpCover.jpg');
    background-size: cover;
    background-position: center;
    margin: 20px;
    border-radius: 20px;
    height: 50vh;
}

.active-link {
    background: linear-gradient(195deg, #49a3f1, #1A73E8);
}

.stripe-1 {
    color: white;
    background: repeating-linear-gradient(
      45deg,
      #171400,
      #171400 10px,
      #ffdd00 10px,
      #ffdd00 20px
    );
    opacity: 40%;
}